name: Develop Deploy API

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: develop
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 15

    env:
      PROJECT_NAME: api-cell
      ENVIRONMENT: develop
      # deploy
      DEPLOY_ROLE_ARN: ${{ secrets.DEPLOY_ROLE_ARN }}
      WORKING_DIRECTORY: ${{ secrets.WORKING_DIRECTORY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.DEPLOY_ROLE_ARN }}
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker image
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          IMAGE_REPO=${{ steps.login-ecr.outputs.registry }}/${{ env.PROJECT_NAME }}-${{ env.ENVIRONMENT }}-ecr
          GIT_SHA=${{ github.sha }}

          docker build -t $IMAGE_REPO:latest -t $IMAGE_REPO:$GIT_SHA .
          docker push $IMAGE_REPO:latest
          docker push $IMAGE_REPO:$GIT_SHA

          echo "IMAGE_URI=$IMAGE_REPO:$GIT_SHA" >> $GITHUB_ENV

      - name: Update Lambda function
        run: |
          FUNCTION_NAME="${{ env.PROJECT_NAME }}-${{ env.ENVIRONMENT }}-lambda"
          aws lambda update-function-code \
            --function-name $FUNCTION_NAME \
            --image-uri $IMAGE_URI
